.title-pg{
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}
.edit{
  background: #FF530D;

}
.delete{
  background: #FF0000;
}
.view{
  background: #00B297;
}
.actions{
  padding: 6px;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  margin: 0px 2px;
}
.actions:hover{
  text-decoration: none;
  color: #fff;
}
.actions:visited{
  text-decoration: none;
  color: #fff;
}
.btn-add{
  margin-bottom: 10px;
}
